#logo{
		}

		body{
			background-color: #ebeff5;
		}


		#total-projects{
			background-color: #4cb4c7;
		}


		#projects-delivered{
			background-color: #7abecc;
		}

		#projects-pending{
			background-color: #7CD1C0;
		}